## 0.导语
## 1.Series
## 2.DataFrame
### 2.1 DataFrame的简单运用

## 3.pandas选择数据
### 3.1 实战筛选
### 3.2 筛选总结

## 4.Pandas设置值
### 4.1 创建数据
### 4.2 根据位置设置loc和iloc
### 4.3 根据条件设置
### 4.4 按行或列设置
### 4.5 添加Series序列(长度必须对齐)
### 4.6 设定某行某列为特定值
### 4.7 修改一整行数据

## 5.Pandas处理丢失数据
### 5.1 创建含NaN的矩阵
### 5.2 删除掉有NaN的行或列
### 5.3 替换NaN值为0或者其他
### 5.4 是否有缺失数据NaN

## 6.Pandas导入导出
### 6.1 导入数据
### 6.2 导出数据

## 7.Pandas合并操作
### 7.1 Pandas合并concat
### 7.2.Pandas 合并 merge
    *  7.2.1 定义资料集并打印出
    *  7.2.2 依据key column合并,并打印
    *  7.2.3 两列合并
    *  7.2.4 Indicator设置合并列名称
    *  7.2.5 依据index合并
    *  7.2.6 解决overlapping的问题

## 8.Pandas plot出图

## 9.学习来源

## 0.导语

Pandas是基于Numpy构建的，让Numpy为中心的应用变得更加简单

## 1.Series

In [2]:
import pandas as pd
import numpy as np

# Series
s = pd.Series([1,3,6,np.nan,44,1])
s

0     1.0
1     3.0
2     6.0
3     NaN
4    44.0
5     1.0
dtype: float64

## 2.DataFrame

### 2.1 DataFrame的简单运用

In [5]:
# DataFrame
dates = pd.date_range('2022-10-31',periods=6)
# dates = pd.date_range('2022-10-31','2022-11-05') # 起始、结束 与上述等价
'''
numpy.random.randn(d0, d1, …, dn)是从标准正态分布中返回一个或多个样本值。
numpy.random.rand(d0, d1, …, dn)的随机样本位于[0, 1)中。
(6,4)表示6行4列数据
'''
df_2_1 = pd.DataFrame(np.random.randn(6,4),index=dates,columns=['a','b','c','d'])
df_2_1

                   a         b         c         d
2022-10-31  2.463084  1.679481 -1.331947 -0.701290
2022-11-01 -0.949771  1.745246  1.248661  1.276805
2022-11-02  1.097805 -0.451372  1.279119  2.678328
2022-11-03  0.381551 -0.765011 -0.728398  0.603745
2022-11-04  0.212273  0.622833  0.954402 -1.158362
2022-11-05  0.503674  0.287463 -1.416304 -0.111214

In [7]:
df_2_1['b']

2022-10-31    1.679481
2022-11-01    1.745246
2022-11-02   -0.451372
2022-11-03   -0.765011
2022-11-04    0.622833
2022-11-05    0.287463
Freq: D, Name: b, dtype: float64